<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PageTitle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="media">
                <figure class="media-left">
                    <p class="image is-48x48">
                        <img src="/static/ic_person_black_48dp_2x.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ message }}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>